body {
    background: lightblue;
}

#info_bar {
    border: 1px blue solid;

    #buttonContainer{
        display: inline;
        background-color: aqua;

        button {
            width: 100px;
            height: 33px;
        }
    }

    #scoreboard_area {
        background-color: lightcoral;

        #score_comp {
            h3 {
                border: 1px solid black; 
                color: black;
            }
        }
    }
}

#city_display {
    background-color: beige;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.city {
    width: 100px;
    height: 100px;
    border: red solid 1px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;

    p {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
